<section fxLayout="column" fxLayoutGap="20px">

  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div class="logo">C T</div>
      <div class="navigation">

        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/template">Customer Template</a>
        <a mat-button routerLink="/reactive">Customer Reactive</a>
        <a mat-button routerLink="/reactive-dynamic">Customer Reactive dynamic</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

</section>
